.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarWrap {
    width: 140px;
    height: 140px;
    position: relative;
}

.avatar {
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 70px;
    transition: all .3s;
}

.avatar:hover {
    transform: scale(1.1);
}

.root address {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    margin-top: var(--size-l);
}

.root address>* {
    margin-top: var(--size-s);
}

.author {
    font-size: var(--size-l);
    font-style: normal;
}

.job {
    font-size: var(--size-m);
    font-style: normal;
}

.location {
    font-size: var(--size-secondary);
    font-style: normal;
    /* color: var(--color-secondary); */
}

.location>span {
    margin-left: var(--size-gap-sm);
}

.websites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.motto {
    font-size: var(--size-m);
}