:root {
  --color-bg: #2b2e32;
  --color-primary: #eaeaea;
  --color-secondary: #a0a0a0;
  --color-muted: #a0a0a0;
  --color-hover: #393939;
  --color-active: #454444;
  --color-border: #434343;
  --color-link: #65a3cf;
  --color-link-hover: #70b3ff;
  --color-nav: #22252a;
  --color-nav-active: #676767;
  --color-nav-hover: #464646;
  --color-aside: #282b30;
  --color-badge: #3f4248;

  --size-l: 24px;
  --size-m: 16px;
  --size-s: 8px;

  --size-primary: 16px;
  --size-secondary: 14px;

  --size-gap-ll: 18px;
  --size-gap-lm: 16px;
  --size-gap-ls: 14px;
  --size-gap-ml: 12px;
  --size-gap-mm: 10px;
  --size-gap-ms: 8px;
  --size-gap-sl: 6px;
  --size-gap-sm: 4px;
  --size-gap-ss: 2px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--color-primary);
}

aside {
  background-color: var(--color-bg);
  width: 20%;
  border-right: 1px solid var(--color-border);
  display: flex;
}

aside>* {
  flex: 1;
}

main {
  background-color: var(--color-bg);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main>div {
  flex: 1;
  padding: var(--size-m) 144px;
}

main>footer {
  flex: 0 1 40px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}

/* SVGs can be styled using CSS. Setting width and height to 1em allows changing size via font-size. */
img[data-type=svg] {
  width: 1em;
  height: 1em;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

hr {
  border-color: var(--color-border);
  border-style: dashed;
}