:root {
  --color-bg: #2b2e32;
  --color-primary: #eaeaea;
  --color-secondary: #a0a0a0;
  --color-muted: #a0a0a0;
  --color-hover: #393939;
  --color-active: #454444;
  --color-border: #434343;
  --color-link: #0366d6;
  --color-link-hover: #0366d6;
  --color-nav: #22252a;
  --color-aside: #282b30;

  --size-l: 24px;
  --size-m: 16px;
  --size-m-: 14px;
  --size-s: 8px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

aside {
  background-color: var(--color-bg);
  width: 20%;
  border-right: 1px solid var(--color-border);
  display: flex;
}

aside>* {
  flex: 1;
}

main {
  background-color: var(--color-bg);
  flex: 1;
}